<div class="input-group mb-3">
    <input type="text" class="form-control round" placeholder="Youtube URL Here" aria-label="yt-vid-url" id="url-input"><br>
    <button id="submt">Submit</button><br>
</div>
<!-- NO USE 
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="What will be the name? If any (leave blank if you want default)" aria-label="yt-vid-name" id="new-name">
</div>
-->
<div class="d-block p-2 round text-bg-dark" id="result">
  <b1 class="default-padding text-bg-dark">Your result will appear here!</b1>
</div>


<script type="text/javascript">
    var input = document.getElementById("url-input");
    var submit = document.getElementById('submt');
    input.addEventListener("keydown", async function(event) {
      if (event.keyCode === 13) {
        var update = document.getElementById('result');
        update.innerText = "Downloading"
        await ftchVid(input.value, name.value);
      }
    });
    submit.addEventListener("click", async function(event) {
      var update = document.getElementById('result');
      update.innerText = "Downloading";
      await ftchVid(input.value, name.value);
    })

</script>

<script type="text/javascript">
    async function ftchVid(url, name) {
        var name = name ?? "";
        var status = await fetch(`http://127.0.0.1:3056/download/?url=${url}`, {"method":"POST"});
        var info = await status.text();
        console.log(info);
        //document.getElementById('result').innerHTML = info;
        document.getElementById('result').innerText = `${info}`; 
    }
</script>